.noscroll {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}
.chatbubble {
    position: fixed;
    bottom: 0;
    right: 0px;
    z-index: 1049;
    transform: translateY(555px);
    transition: transform .1s ease-in-out;
    -webkit-transition: transform .1s ease-in-out;
}
.chatbubble.opened {
    transform: translateY(0)
}

/*
.chatbubble .unexpanded {
    display: block;
	  background: #089dc2;
    text-align: center;
    width: 105px;
    height: 50px;
    line-height: 50px;
    position: relative;
    right: 5px;
    bottom: 0;
    color: #fff;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.chatbubble .unexpanded .title {
	font-weight: bold;
	font-size: 13px;
}

.chatbubble .bubble-unread{
	position: absolute;
    top: -5px;
    left: -10px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
}
*/

/*anne bilis*/
.chatbubble .unexpanded {
    display: block;
    text-align: center;
    line-height: 50px;
    position: relative;    bottom: 0;
    color: #fff;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.chatbubble .unexpanded img {
  width: 150px;
}

.chatbubble .bubble-unread {
    position: absolute;
    border-radius: 50%;
    font-weight: bold;
    font-size: 14px;
    bottom: 31px;
    right: 10px;
}

/*end*/

.chatbubble .expanded {
  -webkit-transition: width .1s ease-in-out;
    -moz-transition: width .1s ease-in-out;
    -o-transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    height: 555px;
    width: 105px;
    padding: 0;
}

.chatbubble.opened .unexpanded {
  display: none;
}
.chatbubble.opened .expanded {
  -webkit-transition: width .1s ease-in-out;
    -moz-transition: width .1s ease-in-out;
    -o-transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
  width: 745px;
}


.chatbubble .chat-window {
  overflow: auto;
}

.chatbubble .close-chat {
    cursor: pointer;
    font-weight: bold;
    color: #564e4e;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}


.ui {
  margin: 0 auto;
  width: 745px;
  height: 555px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 25px #3a9fc4;
  flex-direction: row;
  display: flex;
  overflow: hidden;
}

.ui .search input {
  outline: none;
  border: none;
  background: none;
}
.ui .search {
  position: relative;
}
.ui .search input[type=submit] {
  font-family: 'FontAwesome';
  position: absolute;
  right: 25px;
  top: 27px;
  color: white;
}
.ui .search input[type=search] {
  background-color: #9598a2;
  border-radius: 3px;
  padding: 10px;
  width: 90%;
  box-sizing: border-box;
  margin: 15px 10px;
  color: #fff;
}
.ui .left-menu {
  width: 30%;
  box-sizing: content-box;
  /*padding-right: 1%;*/
  height: 100%;
  background: #0f3155;
}
.ui .chat {
  width: 70%;
  height: 100%;
  background: #f1f5f8;
}
.ui .chat .info {
  display: inline-flex;
  flex-direction: column;
  vertical-align: 10px;
  line-height: 1.2;
  width: calc(100% - 65px - 70px);
}
.ui .chat .info .name {
  font-weight: 600;
  color: #434753;
  height: 50%;
}
.ui .chat .info .count {
  color: #6d738d;
}

.ui .avatar > img,
.ui .list-friends img {
  border-radius: 50%;
  border: 2px solid #72c0d8;
}
.ui .list-friends {
  list-style: none;
  font-size: 13px;
  margin-top: 5px;
  height: calc(100% - 70px - 85px);
}
.ui .list-friends img {
  margin: 5px;
}
.ui .list-friends > li {
  cursor: pointer;
  display: flex;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui .list-friends > li.active {
	background: #134684;
}

.ui .support-thread {
	background: #1985a0;
}

.ui li.support-thread.active {
	background: #089dc2;
}

.ui .list-friends .info {
  flex: 1;
  padding: 5px 0;
}
.ui .list-friends .user {
  color: #fff;
  margin-top: 5px;
}
.ui .list-friends .status {
  position: relative;
  /*margin-left: 14px;*/
  color: #a8adb3;
}
.ui .list-friends.support-list .user {
  color: #fff;
  margin-top: 10px;
}
/*.ui .list-friends .off:after,
.ui .list-friends .on:after {
  content: '';
  left: -12px;
  top: 8px;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}*/
.ui .list-friends .off:after {
  background: #fd8064;
}
.ui .list-friends .on:after {
  background: #62bf6e;
}
.ui .top {
  height: 70px;
}
.ui .messages {
  height: calc(100% - 70px - 85px);
  list-style: none;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
}
.ui .messages li {
  margin: 10px;
  transition: all 0.5s;
}
.ui .messages li:after {
  content: '';
  clear: both;
  display: block;
}
.ui .messages li .head {
  font-size: 13px;
}
.ui .messages li .name {
  font-weight: 600;
  position: relative;
}
.ui .messages li .name:after {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  top: 6px;
}
.ui .messages li .time {
  color: #b7bccf;
}
.ui .messages li .message {
  margin-top: 10px;
  color: #fff;
  font-size: 14px;
  padding: 2px 8px;
  line-height: 25px;
  max-width: 500px;
  word-wrap: break-word;
  position: relative;
}
.ui .messages li .message:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: -8px;
  border-bottom: 8px solid #62bf6e;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.ui .messages li .message.notext {
  background: unset !important;
  margin-top: 5px !important;
}
.ui .messages li .message.notext:before {
  border: 0 !important;
}

.ui .messages li.friend .name {
  margin-left: 20px;
}
.ui .messages li.friend .name:after {
  background-color: #f45e3b;
  left: -20px;
  top: 6px;
}
.ui .messages li.friend .message {
  background-color: #f45e3b;
  float: left;
  border-radius: 0 3px 3px 3px;
}
.ui .messages li.friend .message:before {
  left: 0px;
  border-bottom-color: #f45e3b;
}
.ui .messages li.i .head {
  text-align: right;
}
.ui .messages li.i .name {
  margin-right: 20px;
}
.ui .messages li.i .name:after {
  background-color: #089dc2;
  right: -20px;
  top: 6px;
}
.ui .messages li.i .message {
  background-color: #089dc2;
  float: right;
  border-radius: 3px 0 3px 3px;
}
.ui .messages li.i .message:before {
  right: 0;
  border-bottom-color: #089dc2;
}
.ui .write-form {
  height: 85px;
}

.ui .write-form .textarea-cont {
    width: 75%;
    height: 55px;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
}
.ui .write-form textarea {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 10px;
  border: none;
  border-radius: 3px;
  resize: none;
}
.ui .write-form textarea:before {
  content: '';
  clear: both;
}
.ui .avatar > img {
  border-color: #f45e3b;
  margin: 10px;
  margin-right: 5px;
}
.ui .avatar {
  display: inline-block;
}
.ui .send {
  height: 56px;
  width: 16%;
  text-transform: uppercase;
  font-weight: 700;
  float: right;
  margin-right: 3%;
  margin-top: 1px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ui i.fa-file-o {
  margin-left: 15px;
}
.ui i.fa-picture-o {
  margin-left: 5%;
}

.ui .xs-only {
	display: none;
	position: relative;
}

.ui .notif_badge {
	position: absolute;
	left: -30px;
	top: 2px;
}

.ui .nav-tabs>li>a {
	border-radius: 0;
	text-align: center;
}

.ui .new-message {
	margin-top: 5px;
	line-height: 2.5;
	font-weight: bold;
	color: #ffffff;
	background: #f45e3b;
	cursor: pointer;
}

.ui .textMessageHelp {
	margin-left: 4%;
	margin-top: 1px;
	color: #a94442;
}

.ui .nav>li>a {
	padding: 9px 10px;
	border-right: 0;
	margin-right: 0;
}

.ui .not-xs {
	display: inline;
}

.chatbubble .tt-menu {
  min-width: 300px !important;
}

.chatbubble .small, .chatbubble small {
    font-size: 85%;
}

@media (max-width: 768px) {

  .chatbubble .unexpanded img {
    width: 100px;
  }

  .chatbubble .bubble-unread {
    font-size: 12px;
    bottom: 21px;
    right: 3px;
  }

	.chatbubble.opened .expanded, .chatbubble.opened {
		width: 100%;
	}

	.ui {
		width: 100%;
	}

	.ui .left-menu {
	  	width: 18.5%;
	}
	.ui .chat {
		width: 81.5%;
	}

	.ui .search {
		display: none;
	}

	.ui .list-friends {
		height: 95%;
	}

	.ui .list-friends .info {
		display: none;
	}

	.ui .write-form .textarea-cont {
		width: 75%;
	}

  .ui .send i.fa{
    font-size: 24px;
  }

	.ui .nav-tabs .nav-item {
		width: 100%;
    display: block;
	}

	.ui .nav>li>a {
		padding: 9px 7px;
	}

	.ui .xs-only {
		display: inline;
	}

	.ui .not-xs {
		display: none;
	}

	.ui .list-friends img {
		margin: 5px auto;
	}
}

@media screen and ( max-height: 500px ){
	.chatbubble {
		transform: translateY(320px);
	}
	.chatbubble .expanded,
	.chatbubble .ui {
		height: 320px;
	}
}

.emojione {
    font-size: inherit;
    height: 2ex;
    width: 2.1ex;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
    margin: -.2ex .15em .2ex;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    top: 0;
    background-image: none;
}

.emojionearea .emojionearea-editor {
  min-height: 4em !important;
  max-height: 4em !important
}

#manageGroupModal .tt-menu {
  width: 300px;
}